<h1>Northwest Flyers Registration App</h1>
<% if !notice.nil? %>
<p id="notice"><%= notice %></p>
<% end %>
<p>
Welcome to the Northwest Flyers Online Registration.
</p>

<% if signed_in? %>
<p>Click the button below to create a new registration.</p>
<%= link_to "New Registration", newregistration_path, :class => "signup_button round" %>
<% else %>
<p>Click the button below to enter the registration site.</p>
<%= link_to "Sign In", signin_path, :class => "signup_button round" %>
<% end %>
